<div class="container pt-5">
  <div class="row ">
    <div class="col-lg-4 col-12">
      <h4><%= "#{@keyword}の検索結果" %><span style= font-size:20px>(全<%= @search_artist_all.count %>件)</h4>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-11 offset-1 d-flex flex-wrap my-4">
      <% @search_artist.each do |artist| %>
        <%= link_to artist_path(artist.id),data:{"turbolinks" =>false},class: "text-secondary col-12 d-flex border py-3 my-1" do%>
          <div class="col-2">
            <p><%= image_tag artist.artist_image_or_empty, class: "mini_image" %></p>
          </div>
          <div class="col-10">
            <p>
              <%= artist.name %>
              <% if artist.is_lock %>
                <i class="fa-solid fa-lock fa-sm" style="color: #4682b4;"></i>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @search_artist, outer_window: 3 %>
  </div>
</div>