<div class="container">
  <div class="row py-4">
    <div class="col-10 mx-auto">
      <div class="row w-100 d-flex">
        <%= link_to searches_path, class: "col-6 flex-fill text-center text-dark" do %>
          <div>
            <h2>アーティストを探す</h2>
          </div>
        <% end %>
        <div class="col-6 flex-fill text-center" style= "background-color: #b0c4de;">
          <h2>ギャラリーを探す</h2>
        </div>
      </div>
      <div class="row w-100" style= "background-color: #b0c4de;">
        <div class="row w-100">
          <div class="col-12 offset-2">
            <h4 class="pl-4  pt-4 pb-4">ギャラリー一覧から探す</h4>
          </div>
        </div>
        <div class="row w-100 pb-4 border-bottom">
          <div class="col-12 d-flex mx-auto ">
            <p class="col-6 pr-3 pt-3 offset-2">
              <%= link_to "ギャラリー一覧はこちら", gallaries_path, class: "btn btn-success" %>
            </p>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-6 offset-2">
            <h4 class="pl-4  pt-4 pb-4">投稿一覧から探す</h4>
          </div>
        </div>
        <div class="row w-100 pb-5 border-bottom">
          <div class="col-12 d-flex mx-auto ">
            <p class="col-6 pr-3 pt-3 offset-2">
              <%= link_to "投稿一覧はこちら", gallary_events_path, class: "btn btn-success" %>
            </p>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-6 offset-2">
            <h4 class="pl-4 pt-4 pb-4">展示の開催期間から探す</h4>
          </div>
        </div>
        <div class="row w-100 pb-5 border-bottom">
          <div class="col-12 d-flex mx-auto ">
            <p class="col-3 pr-3 pt-3 offset-2">
              <%= link_to "今後開催予定", before_index_gallary_events_path, class: "btn btn-success" %>
            </p>
            <p class="col-3 pr-3 pt-3">
              <%= link_to "現在開催中", now_index_gallary_events_path, class: "btn btn-success" %>
            </p>
            <p class="col-3 pr-3 pt-3">
              <%= link_to "開催終了", after_index_gallary_events_path, class: "btn btn-success" %>
            </p>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-8 offset-2 pt-3 pb-5">
            <h4 class="pl-4  pt-4 pb-4">キーワードから探す</h4>
            <div class="search_form text-right">
              <%= form_with url: result_gallary_searches_path, local: true, method: :get do |f| %>
                <%= f.text_field :keyword , class: "form-control" %>
                <%= f.select :range, options_for_select([['住所'], ['ギャラリー名']]) %>
                <%= f.submit "検索", class: "btn btn-primary mt-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>