<% if @range == "ギャラリー名" %>
  <%= render 'artist/searches/search', keyword: @keyword,all_gallary: @gallary_name_all,page: @gallary_name_page%>
<% elsif @range == "地域" %>
  <%= render 'artist/searches/search', keyword: @keyword,all_gallary: @gallary_areas_all,page: @gallary_area_page%>
<% else %>
  <div class="container pt-5">
    <div class="row ">
      <div class="col-lg-4 col-12">
        <h4><%= "見つかりませんでした" %><span style= font-size:20px></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-11 offset-1 d-flex flex-wrap my-4">
        <% @gallaries_page.each do |gallary| %>
          <%= link_to gallary_path(gallary.id),class: "text-secondary my-1" do%>
            <div class="col-12">
              <p><%= image_tag gallary.image_or_empty, size: '100x100' %></p>
              <p><%= gallary.name %></p>
              <p>〒 <%= gallary.post_code %></p>
              <p><%= gallary.address %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= paginate @gallaries_page, outer_window: 3 %>
    </div>
  </div>
<% end %>