<%= form_with model: event ,local: true do |f| %>
  <div class="my-3">

    <div class="form-group mt-4 ml-5 center-block">
      <p>イベント紹介画像</p>
      <%= f.file_field :image, accept: "image/*" %>
    </div>

    <div class="form-group mt-4 ml-5 center-block">
      <%= f.label :title, "タイトル" %><br>
      <%= f.text_field :title,size: "40" %>
    </div>

    <div class="form-group mt-4 ml-5 center-block">
      <%= f.label :introduction, "詳細文" %><br>
      <%= f.text_area :introduction,size: "40x5" %>
    </div>

    <div class="form-group mt-4 ml-5 center-block">
      <%= f.label :start_at, "開催日", class: 'control-label'%><br>
      <%= f.date_select :start_at, class: 'form-control' %>
    </div>

    <div class="form-group mt-4 ml-5 center-block">
      <%= f.label :end_at, "最終日", class: 'control-label'%><br>
      <%= f.date_select :end_at, class: 'form-control' %>
    </div>

    <div class="">
      <%= f.label :recruit, "募集ステータス"%>
      <%= f.select :recruit, GallaryEvent.recruits.keys, {} %>
    </div>



    <div class="form-group text-center my-3">
      <% if controller.action_name == "new" %>
        <%= f.submit "投稿する", class: 'btn btn-success px-5' %>
      <% elsif controller.action_name == "edit" %>
        <%= f.submit "変更する", class: 'btn btn-success px-5' %>
      <% end %>
    </div>
  </div>
<% end %>