<div class="container">
  <div class="row ">
    <div class="col-12 mt-5 text-center">
      <h2>ギャラリーログイン</h2>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-5 card mx-auto mt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field ml-5 mt-4">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true,size: "40", autocomplete: "email" %>
        </div>

        <div class="field ml-5">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password,size: "40", autocomplete: "current-password" %>
        </div>

        <div class="actions py-4 text-center">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
  </div>
</div>