<div class="container">
  <div class="row w-100">
    <h4 class="text-center mx-auto pt-3">DMリスト</h4>
  </div>
  <div class="row">
    <div class="col-lg-8 col-10 mx-auto">
      <% if artist_signed_in? %>
        <% @rooms.each do |room| %>
          <div class="row w-100 border my-1 py-2">
            <%= link_to dm_path(room.gallary.id),data:{"turbolinks" =>false},class: "row w-100 d-flex flex-wrap text-secondary" do %>
              <div class="col-sm-2 col-10 offset-sm-0 offset-2 my-auto mx-md-3 mx-auto ">
                <%= image_tag room.gallary.image_or_empty, class: "mini_image d-block mx-auto" %>
              </div>
              <div class="col-sm-7 col-12 my-auto d-flex justify-content-md-start justify-content-center">
                <h5>
                  <%= room.gallary.name %>
                </h5>
                <% unread_messages_in_room = @unread_messages.select { |message| message.dm_room_id == room.id && message.to_user_opentime.nil? } %>
                <% if unread_messages_in_room.count > 0 %>
                  <div class="rounded-full ml-4 text-center unread_mark">
                    <%= unread_messages_in_room.count %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% elsif gallary_signed_in? %>
        <% @rooms.each do |room| %>
          <div class="row w-100 border my-1 py-2">
            <%= link_to dm_path(room.artist.id),data:{"turbolinks" =>false},class: "row w-100 d-flex flex-wrap text-secondary" do %>
              <div class="col-sm-2 col-10 offset-sm-0 offset-2 my-auto mx-md-3 mx-auto ">
                <%= image_tag room.artist.artist_image_or_empty, class: "mini_image d-block mx-auto" %>
              </div>
              <div class="col-sm-7 col-12 my-auto  d-flex justify-content-md-start justify-content-center">
                <h5>
                  <%= room.artist.name %>
                </h5>
                <% unread_messages_in_room = @unread_messages.select { |message| message.dm_room_id == room.id && message.to_user_opentime.nil? } %>
                <% if unread_messages_in_room.count > 0 %>
                  <div class="rounded-full ml-4 text-center unread_mark">
                    <%= unread_messages_in_room.count %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>