<div class="col-sm-2 col-12 flex-fill">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png',size: "191x85" %>
  <% end %>
</div>
<div class="col-sm-9 col-12">
  <ul class="d-flex flex-wrap justify-content-end">
    <li class="mt-3" style="list-style: none;"><%= link_to "マイページ",gallary_path(current_gallary.id), class: "btn btn-secondary" %></li>
    <li class="ml-2 mt-3" style="list-style: none;"><%= link_to "投稿する",new_gallary_event_path, class: "btn btn-secondary" %></li>
  </ul>
</div>
<div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav" >
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul>
        <li class="category"><%= link_to "TOP",root_path%></li>
        <li class="category"><%= link_to "さがす",searches_path%></li>
        <li class="category"><%= link_to "マイページ",gallary_path(current_gallary.id)%></li>
        <li class="category"><%= link_to "ブックマーク", portfolio_portfolio_bookmarks_path(current_gallary.id) %></li>
        <li class="category"><%= link_to "フォロー", follows_gallary_path(current_gallary.id) %></li>
        <li class="category">ギャラリー</li>
        <li><%= link_to "一覧", gallaries_path %></li>
        <li><%= link_to "展示一覧",gallary_events_path %></li>
        <li class="category">アーティスト</li>
        <li><%= link_to "一覧", artists_path %></li>
        <li><%= link_to "投稿一覧", portfolios_path %></li>
        <li class="category"><%= link_to "ログアウト",destroy_gallary_session_path, method: :delete %></li>
        <li></li>
      </ul>
    </div>
  </nav>
</div>
