
<div class="col-sm-5 col-12 offset-sm-3 offset-0 flex-fill text-center">
  <%= link_to root_path,data:{"turbolinks" =>false} do %>
    <%= image_tag 'logo.png',size: "255x114" %>
  <% end %>
</div>
<div class="col-sm-2 col-12 offset-sm-1 text-right mt-2">
  <%= link_to gallary_searches_path,data:{"turbolinks" =>false}, class: "btn btn-dark" do %>
    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
  <% end %>
</div>

<div class="openbtn1"><span></span><span></span><span></span></div>
  <nav id="g-nav" >
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul>
        <li class="category"><%= link_to "TOP",root_path,data:{"turbolinks" =>false}%></li>
        <li class="category"><%= link_to "さがす",searches_path,data:{"turbolinks" =>false}%></li>
        <li class="category">ギャラリー</li>
        <li><%= link_to "一覧", gallaries_path,data:{"turbolinks" =>false} %></li>
        <li><%= link_to "展示一覧",gallary_events_path,data:{"turbolinks" =>false} %></li>
        <li><%= link_to "今後開催の展示",before_index_gallary_events_path,data:{"turbolinks" =>false} %></li>
        <li><%= link_to "開催中の展示",now_index_gallary_events_path,data:{"turbolinks" =>false} %></li>
        <li class="category">アーティスト</li>
        <li><%= link_to "一覧", artists_path,data:{"turbolinks" =>false} %></li>
        <li><%= link_to "投稿一覧", portfolios_path,data:{"turbolinks" =>false} %></li>

        <li></li>
      </ul>
    </div>
  </nav>
</div>
