<div class="dm_messages">
  <% messages.each do |dm_message| %>
    <% if artist_signed_in?%>
      <% if dm_message.artist_id != nil %>
        <div class="message self">
          <div class="message-body">
            <%= dm_message.message %>
          </div>
          <div class="text-right">
            <%= dm_message.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
        </div>
      <% else %>
        <div class="message other">
          <div class="message-body">
            <%= dm_message.message %>
          </div>
          <div class="message-sender"><%= dm_message.gallary.name %> <%= dm_message.created_at.strftime("%Y/%m/%d %H:%M") %></div>
        </div>
      <% end %>
    <% elsif gallary_signed_in? %>
      <% if dm_message.gallary_id != nil %>
        <div class="message self">
          <div class="message-body">
            <%= dm_message.message %>
          </div>
          <div class="text-right">
            <%= dm_message.created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
        </div>
      <% else %>
        <div class="message other">
          <div class="message-body">
            <%= dm_message.message %>
          </div>
          <div class="message-sender"><%= dm_message.artist.name %> <%= dm_message.created_at.strftime("%Y/%m/%d %H:%M") %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
