<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row w-100 flex-wrap mt-4">
        <div class="col-6 flex-fill text-center follow rounded-top pt-1" style= "background-color: #b0c4de;">
          <h3>フォロー<br>ギャラリー</h3>
        </div>
        <%= link_to followers_artist_path(current_artist.id),data:{"turbolinks" =>false}, class: "col-6 flex-fill text-center text-dark follow" do%>
          <div>
            <h3>フォロワー<br>ギャラリー</h3>
          </div>
        <% end %>
      </div>
      <div class="row w-100 rounded-bottom" style= "background-color: #b0c4de;">
        <div class="col-10 mx-auto mt-4">
          <% @follow_pages.each do |gallary| %>
            <%= link_to gallary_path(gallary.id),data:{"turbolinks" =>false},class: "text-dark row w-100  d-flex" do%>
              <div class="border d-flex my-2 p-2">
                <div class="col-2 my-auto">
                  <%= image_tag gallary.image_or_empty, class: "follow_image" %>
                </div>
                <div class="col-md-6 col-12 offset-lg-1 offset-md-2 offset-1">
                  <div class="row"><%= gallary.name.truncate(12) %></div>
                </div>
                <div class="col-md-3 col-12 jusify-content-end">
                  <%= render 'gallary/atog_follows/button',gallary: gallary  %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <%= paginate @follow_pages, outer_window: 3 %>
  </div>
</div>