<div class="container">
  <div class="row w-100">
    <h4 class="text-center mx-auto pt-3">アーティスト一覧</h4>
  </div>
  <div class="row w-100">
    <div class="col-lg-8 col-10 mx-auto">
      <% @artists.each do |artist| %>
        <div class="row w-100 border my-1 py-2">
          <%= link_to artist_path(artist.id),data:{"turbolinks" =>false},class: "row w-100 text-secondary d-flex flex-wrap" do %>
            <div class="col-md-2 col-12 mx-auto"><%= image_tag artist.artist_image_or_empty, class: "mini_image d-block mx-auto" %></div>
            <div class="col-md-7 col-10 offset-md-2 offset-0 mx-auto">
              <div class="row w-100">
                <%= artist.name %>
                <% if artist.is_lock %>
                  <i class="fa-solid fa-lock fa-sm" style="color: #4682b4;"></i>
                <% end %>
              </div>
              <div class="row w-100 mx-auto">
                <%= artist.introduction %>
              </div>
            </div>
        <% end %>
        </div>

      <% end %>
      <div class="row justify-content-center">
        <%= paginate @artists, outer_window: 3 %>
      </div>
    </div>
  </div>
</div>