<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h4>ジャンル一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 d-flex my-4">
      <p class="mr-3 mt-1">ジャンル追加</p>
      <%= form_with model: @genre, url: '/admin/genres',local: true do |f| %>
        <p class="form-group my-5">
          <%= f.text_field :name ,placeholder: "ジャンル名" %>
          <%= f.submit "追加する", class: "btn btn-success" %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row d-flex flex-wrap border mb-4">
    <% @genres.each do |genre| %>
      <div class="col-3 py-3 border-right border-bottom flex-fill">
        <span class="col-6">
          <%= genre.name %>
        </span>
        <soan class="col-6">
          <%= link_to "編集する", edit_admin_genre_path(genre.id) ,class: "btn btn-success" %>
        </span>
      </div>
    <% end %>
  </div>
</div>