<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h2>登録情報編集</h2>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-5 card mx-auto my-4">
      <%= form_with model: @gallary,url: gallary_path(@gallary),method: :patch, local: true,data:{"turbolinks" =>false} do |f| %>

        <div class="field mt-4 center-block">
          <p>ギャラリーアイコン画像</p>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="field mt-4 ">
          <%= f.label :name, "ギャラリー名" %><br />
          <%= f.text_field :name, placeholder: "〇〇ギャラリー", class: "form-control" %>
        </div>

        <div class="field ">
          <%= f.label :introduction, "紹介文" %><br />
          <%= f.text_area :introduction, placeholder: "特に力を入れている点など", class: "form-control" %>
        </div>

        <div class="field mt-4 center-block">
          <p>ギャラリー紹介画像(複数登録可)</p>
          <%= f.file_field :gallary_images, multiple: true, accept: "image/*" %>
        </div>

        <div class="field">
          <%= f.label :post_code, "郵便番号(ハイフンなし)" %><br />
          <%= f.text_field :post_code, placeholder: "0000000", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :address, "住所" %><br />
          <%= f.text_area :address, placeholder: "都道府県 市町村 番地", class: "form-control" %>
        </div>

        <div class="field">
          <p>【公開ステータス】現在：<%= @gallary.is_lock ? "非公開": "公開中"%></p>
          <div class="pull-right">
            <%= f.select :is_lock, [['公開',0],['非公開',1]], { include_blank: true, selected: 0 } %>
          </div>
          <p>※フォロワーも見ることが出来ない完全非公開となります。</p>
        </div>

        <div class="actions text-center py-4">
          <%= f.submit "変更する",class: "btn btn-success" %>
        </div>
      <% end %>
      <div class="row justify-content-center mb-4">
        <%= link_to "アカウント削除",gallary_path(@gallary), method: :delete,data:{"turbolinks" =>false}, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

