<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row w-100 flex-wrap mt-4">
        <div class="col-lg-6 col-12 flex-fill text-center rounded-top pt-1 follow" style= "background-color: #b0c4de;">
          <h3>フォロー<br>アーティスト</h3>
        </div>
        <%= link_to followers_gallary_path(current_gallary.id),data:{"turbolinks" =>false}, class: "col-md-6 col-12 flex-fill text-center text-dark follow" do%>
          <div>
            <h3>フォロワー<br>アーティスト</h3>
          </div>
        <% end %>
      </div>
      <div class="row w-100" style= "background-color: #b0c4de;">
        <div class="col-10 mx-auto mt-4">
          <% @follow_artists.each do |artist| %>
            <div class="border d-flex my-2 p-2">
              <%= link_to artist_path(artist.id),data:{"turbolinks" =>false},class: "text-dark row w-100  d-flex" do%>
                <div class="col-2 my-auto">
                  <%= image_tag artist.image_or_empty, class: "follow_image" %>
                </div>
                <div class="col-md-6 col-12 offset-lg-1 offset-md-2 offset-1">
                  <div class="row"><%= artist.name.truncate(12) %></div>
                  <div class="row"><%= artist.introduction%></div>
                </div>
              <% end %>
              <div class="col-md-3 col-12">
                <%= render 'artist/gtoa_follows/button',artist: artist  %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>