<div class="container-lg">
  <% if @gallary.is_cold %>
    <div class="row py-5">
      <div class="py-5"></div>
      <div class="col-6 mx-auto my-auto py-5">
        <h4>このアカウントは凍結されています。</h4>
      </div>
    </div>
  <% else %>
    <div class="row">
      <% if gallary_signed_in? && @gallary.id == current_gallary.id %>
        <h2 class="mt-3 title offset-1">マイページ</h2>
      <% end %>
    </div>
    <div class="row d-flex mx-auto my-4">
      <div class="col-lg-2 col-md-3 mx-sm-0 mx-auto text-center">
        <%= image_tag @gallary.image_or_empty, class: "index_image" %>
      </div>
      <div class="col-lg-8 col-md-7 offset-1">
        <div class="row w-100 d-flex mx-auto">
          <% if @gallary.is_lock == true %>
            <div id="atog_follow_buttons_<%= @gallary.id %>" class="col-lg-4 col-md-5 col-12 offset-md-5 offset-md-2 mt-md-0 mt-2 text-center">
              <%= render 'gallary/atog_follows/button', gallary: @gallary%>
            </div>
          <% elsif artist_signed_in? && current_artist.email != "guest@example.com" %>
            <%= link_to dm_path(@gallary),data:{"turbolinks" =>false},class: "col-md-1 col-2 offset-md-5 offset-md-2 offset-sm-3 offset-1 mt-md-2 mt-3 text-right" do%>
              <i class="fa-solid fa-envelope fa-2xl" style="color: #4682b4;"></i>
            <% end %>
            <div id="atog_follow_buttons_<%= @gallary.id %>" class="col-lg-4 col-md-5 col-6 mt-md-0 mt-2 text-left">
              <%= render 'gallary/atog_follows/button', gallary: @gallary%>
            </div>
          <% elsif artist_signed_in? && current_artist.email == "guest@example.com" %>
            <div id="atog_follow_buttons_<%= @gallary.id %>" class="col-12 mt-md-0 mt-2 text-md-right text-center">
              <%= render 'gallary/atog_follows/button', gallary: @gallary%>
            </div>
          <% elsif gallary_signed_in? && @gallary.id == current_gallary.id && @gallary.email != "guest@example.com" %>
            <p class="col-md-10 col-12 text-md-right mt-md-0 mt-1 text-center offset-md-2 offset-0"><%= link_to "編集する", information_edit_gallary_path ,class: "btn btn-success" %></p>
          <% end %>
        </div>
        <div class="row w-100 d-flex">
          <h4 class="col-lg-5 col-md-8 col-12 text-md-left text-center">
            <%= @gallary.name %>
            <% if @gallary.is_lock %>
              <i class="fa-solid fa-lock fa-sm mt-2" style="color: #4682b4;"></i>
            <% end %>
          </h4>
        </div>
        <div class="row">
          <p>〒 <%= @gallary.post_code %></p>
        </div>
        <div class="row d-flex">
          <p><%= @gallary.address %></p>
        </div>
        <div class="row">
          <p><%= safe_join(@gallary.introduction.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>
    <div class="col-11 mx-auto">
      <div class="row border-bottom mb-4">
        <h3>参考写真</h3>
      </div>
      <div class="row">
        <div class="col-lg-8 col-12 mb-3 mx-auto">
          <% if @gallary.gallary_images.attached?  %>
            <div class="swiper">
              <div class="swiper-wrapper">
                <% @gallary.gallary_images.each do |gallary_image| %>
                  <div class="swiper-slide text-center">
                    <%= image_tag gallary_image,class: "gallary_image text-center"%>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          <% else %>
            <%= image_tag "noimage_gallary.jpg",class: "gallary_image"%>
          <% end %>
        </div>
      </div>
      <div class="row border-bottom mb-4">
        <h3>イベント一覧</h3>
      </div>
      <% if (@gallary.is_lock && @gallary.id != current_gallary&.id) || (@gallary.is_lock && artist_signed_in?) %>
        <div class="row justify-content-center">
          <h4>イベント投稿が非公開設定です。</h4>
        </div>
      <% else %>
        <div class="row w-100">
          <div class="col-10 mx-auto">
            <% @events.each do |event| %>
              <%= link_to gallary_event_path(event.id),data:{"turbolinks" =>false},class: "text-secondary" do %>
                <div class="col-12 d-flex border p-3 my-3">
                  <div class="col-4">
                    <%= image_tag event.image_or_empty, size: "200x200"%>
                  </div>
                  <div class="col-7 my-auto">
                    <h4><%= event.title %></h4>
                    <h5><%= event.start_at %> ~ <%= event.end_at %></h5>
                    <div class="text-right">
                      <h5><%= event.recruit %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>