<div class="row d-flex flex-wrap mx-auto">
  <% portfolios.each do |portfolio| %>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex">
      <%= link_to portfolio_path(portfolio.id),class: "text-secondary" do %>
        <div class="col-12 border px-4 py-3 my-2 index_box">
          <div class="row">
            <%= image_tag portfolio.image_or_empty, class: "mx-auto portfolio_index_image" %>
          </div>
          <div class="row">
            <h5>
              <%= portfolio.title.truncate(12) %>
            </h5>
          </div>
          <div class="row">
            <h6>
              <%= portfolio.artist.name %>
            </h6>
          </div>
          <div>
            <i class="fa-solid fa-tag" style="color: #4682b4;"><%= portfolio.genres.map(&:name).join(', ') %></i>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>