<div class="container">
  <div class="row w-100 py-3">
    <h5>ステータス変更</h5>
  </div>
  <div class="row w-100 py-3 my-4">
    <div class="col-9 mx-auto d-flex">
      <div class="col-3">
        <%= image_tag @gallary.image_or_empty, size: "100x100" %>
      </div>
      <div class="col-9">
        <%= @gallary.name %><br>
        <%= @gallary.introduction %><br>
        公開状態：<%= @gallary.is_lock ? "非公開" : "公開中" %>,
        アカウント状態：<%= @gallary.is_cold ? "凍結中" : "正常" %>
        <%= form_with model: @gallary,url: admin_gallary_path(@gallary),class: "pt-4" do |f| %>
          <p>【アカウント状態】</p>
          <%= f.select :is_cold, [['正常',0],['凍結する',1]], { include_blank: true, selected: 0 } %>
          <%= f.submit "変更する"%>
        <% end %>
      </div>
    </div>
  </div>
</div>