<div class="container">
  <div class="row">
    <h4 class="text-center mx-auto pt-3">ギャラリー一覧</h4>
  </div>
  <div class="row w-100 py-3 my-4">
    <% @gallaries.each do |gallary| %>
      <%= link_to admin_gallary_path(gallary), class: "row w-100 text-secondary" do %>
        <div class="col-10 border d-flex mx-auto my-1 py-1">
          <div class="col-2">
            <%= image_tag gallary.image_or_empty, size: "50x50"%>
          </div>
          <div class="col-6">
            ギャラリー名：<%= gallary.name %>
          </div>
          <div class="col-4">
            公開状態：<%= gallary.is_lock ? "非公開" : "公開中" %><br>
            アカウント状態：<%= gallary.is_cold ? "凍結中" : "正常" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="row justify-content-center">
      <%= paginate @artists, outer_window: 3,data:{"turbolinks" =>false} %>
    </div>
  </div>
</div>