<nav class="col-12 py-2" style="background-color: rgba(176,196,222,100);">
  <ul class="col-12 d-flex flex-wrap">  <!--ページ内移動のリンク-->
    <li id="one" class="col-md-3 col-12 flex-fill text-center" style="list-style: none;"><a href="#1" class="text-dark">ログイン</a></li>
    <li id="two" class="col-md-3 col-12 flex-fill text-center" style="list-style: none;"><a href="#2" class="text-dark">about</a></li>
    <li id="three" class="col-md-3 col-12 flex-fill text-center" style="list-style: none;"><a href="#3" class="text-dark">新規展示情報</a></li>
    <li id="fore" class="col-md-3 col-12 flex-fill text-center" style="list-style: none;"><a href="#4" class="text-dark">新規作品</a></li>
  </ul>
</nav>
<div id="1" class="row w-100 mx-auto px-0 py-5" style= "background-color: #d4d9df;">
  <div class="row w-100 py-5">
    <div class="col-12 text-center flex-wrap">
      <h4>art match へようこそ！</h4>
    </div>
  </div>
  <div class="row w-100 mx-auto">
    <div class="col-lg-6 col-md-8 col-10 d-flex flex-wrap mx-auto mb-5">
      <% unless gallary_signed_in? || artist_signed_in? %>
        <div class="col-md-5 col-sm-10 col-12 py-5 mr-md-4 border text-center flex-fill" style= "background-color: rgba(0,0,0,0.3);">
          <h5>ギャラリー</h5>
          <%= link_to "ログイン",new_gallary_session_path,class: "btn btn-success mt-4" %><br>
          <%= link_to "新規登録" , new_gallary_registration_path , class: "btn btn-success mt-4"%><br>
          <%= link_to "ゲストログイン", gallaries_guest_sign_in_path , class: "btn btn-info mt-4", method: :post %><br>
        </div>
        <div class="col-md-5 col-sm-10 col-12 py-5 border text-center flex-fill" style= "background-color: rgba(0,0,0,0.3);">
          <h5>アーティスト</h5>
          <%= link_to "ログイン",new_artist_session_path,class: "btn btn-success mt-4" %><br>
          <%= link_to "新規登録", new_artist_registration_path ,class: "btn btn-success mt-4"%><br>
          <%= link_to "ゲストログイン", artists_guest_sign_in_path , class: "btn btn-info mt-4", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="2" style= "background-color: #d4dcd3;">
  <div class="row w-100 py-5">
    <div class="row w-100 pb-5">
      <div class="col-10 mx-auto text-center">
        <h1 class="text-center">About</h1>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-10 mx-auto text-center py-5">
        <h5 class="text-center">
          当サイトは『アーティストとギャラリーを繋ぐ』をテーマに制作したサイトです。<br><br>
          アーティストは作品の投稿、展示を頼みたいギャラリーにDMでの営業が可能です。<br>
          ギャラリーは今後行う展示の告知、同時に参加者の募集も行う事ができます。<br>
          また、DMが可能ですのでオファーなどにもお役立てください。<br><br>

          そして、当サイトはログインせずとも閲覧が可能です。<br>
          アーティストの投稿作品やギャラリーの情報を見ることが出来ます。<br>
          新たなアーティストやギャラリーを見つけたい方も是非ご利用ください！<br><br>
        </h5>
        <h5>※投稿機能などの確認をしたい方は一部機能をご利用可能なゲストログインがございますのでご活用ください！</h5>
      </div>
    </div>
  </div>
</div>
<div id="3">
  <div class="row w-100 py-5">
    <div class="row w-100 pb-5">
      <div class="col-10 mx-auto text-center">
        <h1 class="text-center">展示情報一覧</h1>
      </div>
    </div>
    <div class="row w-100">
      <%= render 'gallary/events/index', events: @events %>
    </div>
    <div class="row w-100 text-right">
      <div class="col-md-3 col-12 offset-md-8">
        <%= link_to "もっと見る>", gallary_events_path %>
      </div>
    </div>
  </div>
</div>
<div id="4">
  <div class="row w-100 py-5">
    <div class="row w-100 pb-5">
      <div class="col-md-10 col-12 mx-auto text-center">
        <h1 class="text-center">作品投稿一覧</h1>
      </div>
    </div>
    <div class="row w-100 mx-auto">
      <div class="col-md-9 col-sm-12 col-12 mx-auto">
        <%= render 'artist/portfolios/index', portfolios: @portfolios %>
      </div>
    </div>
    <div class="row w-100 text-right">
      <div class="col-md-3 col-12 offset-md-8">
        <%= link_to "もっと見る>",portfolios_path %>
      </div>
    </div>
  </div>
</div>
<span id="back">
  <a href = "#">
    <i class="fa-solid fa-circle-chevron-up fa-2xl" style="color: #778899;"></i>
  </a>
</span>