<%= render "gallary/shared/error_messages", resource: resource %>
<div class="container">
  <div class="row ">
    <div class="col-12 mt-5 text-center">
      <h2>新規登録</h2>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-5 card mx-auto mt-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field mt-4 mx-5">
          <%= f.label :name, "ギャラリー名" %><br />
          <%= f.text_field :name, placeholder: "〇〇ギャラリー", class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :introduction, "紹介文" %><br />
          <%= f.text_area :introduction, placeholder: "特に力を入れている点など" , class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :post_code, "郵便番号(ハイフンなし)" %><br />
          <%= f.text_field :post_code, placeholder: "0000000" , class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :address, "住所" %><br />
          <%= f.text_area :address, placeholder: "〇〇県××市0-0" , class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40", placeholder: "example@email.com", class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field mx-5">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions text-center py-4">
          <%= f.submit "登録する",class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

